<div class="container">
  <h1>Hero Squad Application</h1>

  <a href="/herosquads/new" class="btn btn-outline-primary">Add a new Squad</a>
  <a href="/herosquads" class="btn btn-outline-success">View current Squads</a>
</div>